
.borderInput {
    padding: 2px 0px 2px 3px;
    display: flex;
    align-items: center;
    width: 311px;
    height: 6px;
    border: 1px solid #09ff00;

}

.inputRange {
    width: 308px;
    height: 2px;
    transition: .2s;
    background-color: #09ff00;
}