.OurCapabilitiesItem {
    background-color: #ffffff10;
    border-radius: 5px;
    width: 310px;
    height: 360px;
    margin-top: 100px;
    clip-path: polygon(0 0, 87% 0, 100% 15%, 100% 100%, 0 100%);
    margin-right: 18px;
}

.OurCapabilitiesItem:last-child {
    margin-right: 0px;
}

.OurCapabilitiesItem:nth-child(odd) {
    background: transparent;
    border: 1px solid #fff;
}

.OurCapabilitiesItem_inner {
    padding: 30px 23px 0px 22px;
}

.itemTitle {
    color: #43F272;
    font-size: 20px;
    margin-top: 41px;
    margin-bottom: 13px;
}

.itemSubTitle {
    font-size: 15px;
    color: #fff;
}